/* General information */
	h4 {
		float: left;
		font-weight: normal;
		font-size: 15px;
		color: #999;
		clear: both;		
	}
	
	div#general {
		width: 370px;
		float: left;
		margin-top: 30px;
	}
	
	p.edit {
		height: 20px;
		margin-bottom: 10px;
	}
	
	p.edit a {
		float: left;
		background: url(../images/edit.png) no-repeat 0 0;
		display: block;
		text-indent: 9999px;
		overflow: hidden;
		width: 22px;
		height: 20px;
		margin-left: 5px;
	}
	
	div#general p span {
		width: 100px;
		float: left;
		clear: both;
		color: #999;
	}
	
	div#general p {
		margin-bottom: 10px;
	}
	
	
/* Groups 
	div#groups {
		float: left;
		width: 210px;
		margin-top: 30px;
	}

	div#groups p.group {
		text-indent: 15px;
		margin-left: 10px;
		margin-bottom: 10px; 
		background: url(../images/listStyle.png) no-repeat 0 0;
	}*/
	
	
/* Groups */
	div#content h3 {
		width: 960px;
	}
	div#groups {
		float: left;
		width: 300px;
		margin-top: 30px;

	}
        div#groups div#joinGroup {
            overflow-x: hidden;
            overflow-y: scroll;
            background-color: #e4e4e4;
            border: 1px solid #999;
            width: 170px;

        }
        div#groups div#scroll {
            height:  300px;
        }
	div#groups span {
		visibility: hidden;
	}

	div#groups input[type=search] {
		margin-bottom: 20px;

	}
	div#groups h4 {
		width: 300px;
		margin-bottom: 20px;
		font-size: 18px;
	}
	div#groups div#createGroup {
		position:relative;
	}
	div#groups div#createGroup p a {
		position: absolute;
		margin-left: 150px;
                
	}
	p.create a {
		background: url(../images/create.png) no-repeat 0 0;
		display: block;
		text-indent: 9999px;
		overflow: hidden;
		width: 22px;
		height: 20px;
		margin-left: -50px;
	}
	div#groups p.group {
		text-indent: 15px;
                margin-top: 15px;
		background: url(../images/listStyle.png) no-repeat 0 0;
		background-position: left;
                margin-left: 10px;

	}
        div#groups p.group a {
                text-decoration: underline;
                color: #000;
        }
	div#groups p.group img {
		margin-left: 10px;
	}
        form input[type="submit"] {
            	background-image: url(../images/btn_next.png);
		width: 104px;
		height: 26px;
		border: none;
		color: #060;
        }