/* general styles */

	* {
  		font-family: Arial;
	}
	
	a {
  		color: #efefef;
  		text-decoration: none;
	}
	
/* wrapper */

	div#wrapper {
  		width: 1024px;
  		margin: 0 auto;
  		position: relative;
	}
	
/* header */

	div#headerWrapper {
  		height: 81px;
  		background: black;  		
	}
	
	div#header {
		width: 1024px;
		height: 81px;
		margin: 0 auto;
		background: #000 url(../img/bg_header.png) repeat-y 0 0;
	}
	
	
/* logo */

	h1 a {
		background: transparent url(../img/logoSmall.png) no-repeat 0 0;
		display: block;
		width: 39px;
		height: 49px;
		overflow: hidden;
		text-indent: -9999px;	
		float: left;
		margin-left: 20px;
		margin-top: 15px;
	}
	
	h2 {
		float: left;
		width: 800px;
		margin-left: 50px;
		text-align: center;
		font-size: 55px;
		color: #505050;
		margin-top: 15px;
		font-weight: normal;
	}
	
/* register */

	div#header p#exit {
		width: 104px;
		height: 26px;
		line-height: 28px;
		text-align: center;
		background-image: url(../img/btn_exit.png);
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		float: left;	
		margin-top: 30px;
	}
	
  div#header p#exit a {
		color: #039;
		font-size: 12px;
		width: 104px;
		height: 28px;
		display: block;
  	}
  	
  	div#header p#exit a:hover {
  		border: 1px solid #022975;
  		color: #02205d;
  		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		width: 100px;
		height: 22px;
		line-height: 24px;
		margin-left: 1px;
		margin-top: 1px;
  	}
  	
/* content */
  	
  	div#content {
		width: 984px;
		padding: 10px 20px;
		background: #fff;
	}

	div#content h3 {
		font-family: verdana;		
		font-size: 14px;
		font-weight: normal;
		color: #999;
	}
	
/* templates */
  	
	div#templates {
		width: 690px;
		height: 130px;
		padding: 10px 0px 10px 10px;
		background-color: #e4e4e4;
		border: 1px solid #cecece;
		margin-top: 5px;
	}
	
	div.slide {
		width: 160px;
		height: 110px;
		padding-top: 5px;
		background-color: #fff;
		border: 1px solid #9d9d9d;
		float: left;
		margin-right: 10px;
		text-align: center;
		font-size: 15px;
	}
	
	div.slide p.title {
		margin-bottom: 4px;
	}
	
	div#templates div.selected {
		border: 1px solid #000;
	} 
	
	div.slide:hover {
		background-color: #ff9;
	}
	
/* title template */
	
	div.title p.title {
		margin-top: 15px;
		font-size: 25px;
	}
	
	div.title p.subtitle {
		font-size: 14px;
	}
	
/* text template */
	
	p.sampleText {
		text-align: left;
		font-size: 11px;
		margin-left: 5px;
                height: 90px;
                overflow-y: hidden;
	}
	
/* template names */
	
	p.templateNames {
		float: left;
		font-size: 14px;
		color: #999;
		width: 160px;
		text-align: center;
		margin-right: 12px;
		margin-top: 5px;
	}
	
/* big slide */
	
	div#bigSlide {
		width: 760px;
		height: 475px;
		background-color: #e4e4e4;
		border: 1px solid #cecece;
		float: left;
		margin-top: 10px;
		text-align: center;
		margin-bottom: 10px;
	}
	
	div#bigSlide p#title.big {
		font-size: 65px;
		color: #036;
		margin-top: 155px;
		margin-bottom: 25px;
	}
	
	div#bigSlide p#subtitle {
		font-size: 28px;
		color: #036;
	}
        
        div#bigSlide p#title {
            font-size: 28px;
            color: #036;
            margin-top: 20px;
            margin-bottom: 10px;
        }
        
        div#bigSlide p img {
            max-height: 400px;
            max-width: 500px;
        }
        
        div#bigSlide video {
            max-height: 400px;
            max-width: 500px;
        }
	
/* form */
	
	form {
		margin-left: 15px;
		margin-top: 10px;
                margin-bottom: 40px;
		width: 180px;
		height: auto;
		float: left;
	}
	
	form fieldset legend {
		font-size: 18px;
		color: #999;
	}
	
	form fieldset dl {
		margin-left: 20px;
	}
	
	form fieldset dl dt {
		margin-top: 10px;
		margin-bottom: 3px;
		font-size: 12px;
	}
	
	form fieldset dl dd input {
		border: 1px solid #ccc;
	}
        
        form fieldset #contentText {
            width: 350px;
        }
	
/* buttons */
	
	p.add {
		width: 104px;
		height: 26px;
		line-height: 28px;
		text-align: center;
		background-image: url(../img/btn_next.png);
		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		float: left;	
		margin-left: 7px;
	}
	
	p#delSlide {
		background-image: url(../img/btn_delete.png);
	}
	
 	p.add a {
		color: #060;
		font-size: 12px;
		width: 104px;
		height: 28px;
		display: block;
  	}
  	
  	p#delSlide a {
  		color: #530000;
  	}
  	
  	p.add a:hover {
  		border: 1px solid #003C00;
  		color: #003C00;
  		border-top-right-radius: 4px;
		border-top-left-radius: 4px;
		border-bottom-right-radius: 4px;
		border-bottom-left-radius: 4px;
		width: 100px;
		height: 22px;
		line-height: 24px;
		margin-left: 1px;
		margin-top: 1px;
  	}
	
  	p#delSlide a:hover {
  		color: #3B0000;
  		border-color: #3B0000;
  	}
	
/* slides */

	h3 {
		clear: both;
	}

/*	div#scroll {
		width: 1024px;
		height: 155px;
		border: 1px solid #999;
		background-color: #e4e4e4;
		float: left;
		margin-top: 10px;
		margin-bottom: 50px;
		padding-left: 10px;
	}*/
	
	div#scroll div.slide {
		margin-top: 10px;
	}         			
  	
div#scroll {
    z-index: -1;
    margin: 20px 0 10px;
    width: 1024px;
    border: 1px solid #999;
    background-color: #e4e4e4;
    float: left;
    margin-top: 10px;
    margin-bottom: 50px;
    padding-left: 10px;
    height: 155px;
}
div#scroll .viewport {
    height: 140px;
    overflow: hidden;
    position: relative;
    width: 1024px;
}
div#scroll .overview {
    left: 0;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    height: 155px;
    width: 2024px;
}
div#scroll .scrollbar {
    background: url(../images/scrollbar/bg-scrollbar-track-x.png) no-repeat scroll 0 0 transparent;
    clear: both;
    height: 15px;
    margin-left: -10px;
    position: relative;
    padding-left: 10px;
}
div#scroll .track {
    background: url(../images/scrollbar/bg-scrollbar-trackend-x.png) no-repeat scroll 100% 0 transparent;
    height: 15px;
    position: relative;
    width: 100%;
    margin-left: -10px;
    padding-left: 10px;
}
div#scroll .thumb {
    background: url(../images/scrollbar/bg-scrollbar-thumb-x.png) no-repeat scroll 100% 50% transparent;
    cursor: pointer;
    height: 25px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: -5px;
}
div#scroll .thumb .end {
    background: url(../images/scrollbar/bg-scrollbar-thumb-x.png) no-repeat scroll 0 50% transparent;
    height: 25px;
    overflow: hidden;
    width: 5px;
}
div#scroll .disable {
    display: none;
}